.video__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.video__thumb {
  z-index: 10;
  width: 100%;
  object-fit: cover;
}

.video__play-button {
  border: 2px solid #ff9f50;
  border-radius: 50px;
  background: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: #ff9f50;
}
