@import '../../styles/variables.scss';
$linkColor: #3d3d3d;

.nav__container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #ffffffd1;
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 5px #1a1a1a1e;
  transition: 0.5s;
  z-index: 100;
  overflow-y: scroll;
  transform: translateX(var(--mobile-nav-offset));
}

.nav__mobile-toggle-button {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  right: 0;
  top: 10px;
  z-index: 150;
  -webkit-tap-highlight-color: #00000000;
}

.nav__mobile-toggle-button:focus {
  outline: none;
  box-shadow: none;
}

.nav__ul {
  z-index: 50;
  flex-direction: column;
  width: 280px;
  height: 100%;
  padding-left: 50px;
  padding-top: 20%;
  padding-bottom: 50px;
  gap: 2rem;
}

.nav__item {
  display: flex;
  list-style: none;
  height: fit-content;
  padding: 1rem;
  color: $linkColor;
}

.nav__item--multiple-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem 0.25rem 0 0;
  cursor: pointer;

  &:hover {
    color: $forange;
  }
}

.nav__item--multiple-arrow {
  display: inline-block;
  transform: rotateZ(90deg) scale(1.4);
  margin-left: 0.5rem;
}

.nav__item-list {
  --nav-item-list-hidden: visible;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0.5rem;
}

.nav__link {
  font-size: 1rem;
  font-weight: 500;
}

.nav__item--multiple-title {
  font-weight: 500;
}

.nav__item-list .nav__link {
  color: $linkColor;
}

.nav__link:hover {
  color: $forange;
}

.nav__icon {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #f5822400;
  opacity: 0.9;
}

.nav__home-image {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #f5822400;
  margin: 0 auto;
}

.nav__mobile-top-span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px #0000001a;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.active-tab {
  color: $forange;
}

@media (min-width: 1023px) {
  .nav__mobile-toggle-button,
  .nav__mobile-top-span {
    display: none;
  }

  .nav__container {
    margin-right: 0 !important;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: #ffffffd1;
    backdrop-filter: blur(2rem);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    overflow-y: unset;
    transform: none;
  }

  .nav__ul {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav__item {
    align-items: center;
    max-height: none;
    margin-top: 0;
  }

  .nav__item-list {
    --nav-item-list-hidden: hidden;
    position: absolute;
    bottom: 0;
    border-radius: 0.25rem;
    background: $forange;
    transform: translateY(calc(100%));
  }

  .nav__item-list .nav__link {
    &:hover {
      color: white;
    }
  }
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg) scale(0.4);
  -moz-transform: rotate(0deg) scale(0.4);
  -o-transform: rotate(0deg) scale(0.4);
  transform: rotate(0deg) scale(0.4);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: $forange;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  z-index: 100;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
