@import '../styles/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

.main-layout {
  max-width: $maxWidth;
  min-height: 100vh;
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  margin-top: 7rem;
}
