@import '../styles/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

.main-layout {
  max-width: $maxWidth;
  min-height: 100vh;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
}

@media (min-width: 1023px) {
  .main-layout {
    padding-top: 7rem;
    padding-inline: 4rem;
    padding-bottom: 4rem;
  }
}
