.orangeText {
  color: $forange;
  font-weight: 700;
}

.goal-demand__container {
  display: flex;
  flex-direction: column;
}

.goal-demand__black-banner {
  background-color: black;
  color: white;
  padding: 30px;
  margin: 50px 0;
  font-weight: 400;
  font-size: .9rem;
  width: calc(100% - 60px);
  transform: scale(1);
  text-align: center;
  border-radius: .75rem;
}

.goal-demand__link {
  align-self: center;
  margin-top: 50px;
}

.goal-demand__img {
  margin-bottom: 50px;
}

.main-header.section2 {
  margin-top: 50px;
  padding-bottom: 50px;
}

.demand__list-wrapper {
  margin-top: 50px;
  padding-top: 0;
  display: grid;
  max-width: 100%;
}

.demand__list-wrapper {
  list-style: none;
}

.demand__list li::before {
  content: "\2022";
  color: $forange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.demand__list-wrapper span {
  font-size: 25px;
  color: $forange;
}

.demand__list-wrapper li {
  margin: 25px 0;
  padding: 0;
  font-size: 1.5em;
  max-width: 100%;
}

@media (min-width: 767px) {
  .goal-demand__black-banner {
    font-size: 1.5rem;
  }
}

@media (min-width: 1023px) {
  .goal-demand__black-banner {
    font-size: 2rem;
  }
}