$forange: #ff9f50;

.orange-text-parent b {
  color: $forange;
  font-weight: 700;
}

.orangeText {
  color: $forange;
  font-weight: 700;
}

.goal-demand__container {
  display: flex;
  flex-direction: column;
}

.goal-demand__banner {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 3rem 0;
  width: 100%;
}

.goal-demand__banner-image {
  width: 70%;
  min-width: 350px;
  height: auto;
}

.goal-demand__banner-text {
  position: absolute;
  bottom: 35%;
  font-size: 1rem;
  color: white;
}

.goal-demand__link {
  align-self: center;
  margin-top: 50px;
}

.goal-demand__link a {
  color: $forange;
}

.goal-demand__img {
  max-width: 700px;
  padding-block: 3rem;
}

.main-header.section2 {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.demand__list-wrapper {
  margin-top: 3rem;
  padding-top: 0;
  display: grid;
  max-width: 100%;
}

.demand__list-wrapper {
  list-style: none;
}

.demand__list li::before {
  content: '\2022';
  color: $forange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.demand__list-wrapper span {
  font-size: 2rem;
  color: $forange;
}

.demand__list-wrapper li {
  margin: 2rem 0;
  padding: 0;
  font-size: 1.5em;
  max-width: 100%;
}

@media (min-width: 767px) {
  .goal-demand__banner-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1023px) {
  .goal-demand__banner-text {
    font-size: 2rem;
  }
}
