@import '../variables.scss';

@mixin main-h2 {
  color: #3d3d3d;
  font-size: 1.7rem;
  max-width: 600px;
  margin: 2rem auto 1rem;
}

.main-header.laws {
  margin-bottom: 3rem;
}

.vi-vagrar-bryta-lagen__h1--big.main-header__h1 {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  line-height: 3rem;
}

.vi-vagrar-bryta-lagen__intro-paragraph h2 {
  @include main-h2;
}

.vi-vagrar-bryta-lagen__intro-paragraph p {
  @include main-p;
}

.vi-vagrar-bryta-lagen__intro-paragraph a {
  color: $forange;
}

.vittnesmal__container {
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  padding: 30px 0;
  margin-top: 200px;
  margin-bottom: 3rem;
  border-radius: 0.75rem;
  max-width: 600px;
}

.vittnesmal__img {
  position: absolute;
  margin-top: -355px;
  height: 100%;
  z-index: -1;
}

.vittnesmal__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 300px;
  padding: 2rem;
  z-index: 10;
}

.vittnesmal__textbox h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: #3d3d3d;
  font-size: 1.7rem;
  max-width: 600px;
}

.vittnesmal__textbox a {
  display: block;
  color: $forange;
  margin-top: 2rem;
  line-height: 1.7rem;
}

.law__container {
  margin: 4rem 0;
}

.law__title {
  width: 100%;
  text-align: center;
  @include main-h2();
}

.law__subTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.law__section-span {
  display: block;
  width: 40%;
  min-width: 200px;
  height: 3px;
  background-color: #ff9f50;
  margin: 0 auto;
  margin: 2rem auto;
}

.law__body a {
  display: block;
  margin-top: 1rem;
  color: $forange;
}

.law__body p {
  @include main-p;
}

@media (min-width: 375px) {
  .vittnesmal__textbox {
    height: 250px;
  }

  .vittnesmal__img {
    margin-top: -315px;
  }
}

@media (min-width: 435px) {
  .vittnesmal__textbox {
    height: 220px;
    padding-top: 0;
  }

  .vittnesmal__img {
    height: 150%;
    margin-top: -410px;
  }
}

@media (min-width: 767px) {
  .law__container {
    margin: 10rem 0;
  }
}
