.contact__header-h1 {
  text-align: center;
  margin: 100px auto;
  margin-top: 150px;
  z-index: 10;
}

.contact__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 100px;
}

.contact__blob-container {
  position: absolute;
  transform: translateY(100px) translateX(-30px);
  background-color: #ff9f50;
  height: calc(100% + 100px);
  width: 100vw;
  margin: 0 auto;
}

.contact__blob {
  position: absolute;
  top: 0;
  width: 100vw;
  transform: translateY(-99%);
  filter: drop-shadow(-3px -3px 3px #00000011);
  z-index: -1;
}

.contact__social-media-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-around;
}

.social-media__link {
  width: 25%;
  margin: 30px 2%;
}

.social-media__img {
  width: 100%;
  max-height: 40px;
  object-fit: contain;
  filter: invert(1) drop-shadow(5px 5px 5px #00000025);
  transition: .5s;
  z-index: 100;
}

@media (hover: hover) and (pointer: fine) {
  .social-media__img:hover {
    transform: scale(1.2);
  }
}

@media (min-width: 767px) {
  .contact__header-h1 {
    margin-top: 100px;
  }

  .contact__container {
    justify-content: space-evenly;
  }

  .social-media__img {
    max-height: 60px;
  }

  .contact__blob-container {
    transform: translateY(100px) translateX(0);
  }
}
