$forange: #ff9f50;

.person-content__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 5vmin #2929299c;
  overflow-y: scroll;
  z-index: 200;
}

.show-person {
  margin-left: 0;
  transition: 1s;
}

.person-content__container {
  width: 80%;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-content__exit-person-button {
  position: sticky;
  top: 20px;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: -20px;
}

.person-content__name-h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.person-content__img {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.person-content__bread-text {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.orange-text {
  color: $forange;
}

.hide-person {
  transition: 1s;
  margin-left: -110vw;
}

@media (min-width: 1023px) {
  .person-content__exit-person-button {
    font-size: 2rem;
  }
}
